[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Vitis HLS 2023.2
Comment=Vitis HLS 2023.2
Icon=/tools/Xilinx/Vitis_HLS/2023.2/doc/images/vitis_hls_icon.png
Exec=/bin/bash -c "module load vivado && taskset -c 4-7 vitis_hls"
Path=$HOME
Terminal=false
StartupNotify=false
