[Desktop Entry]
Name=Virtuoso
Exec=/bin/bash -c "module load virtuoso spectre && virtuoso"
Terminal=false
Type=Application
Icon=/opt/cadence/IC231/doc/support/logo.png
Categories=Utility;
